Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [3]:
l = ['raakesh', [7,8,9], 45.2, (2,3,4,5,6)]

In [5]:
for i in l :
    print(i, type(i))

raakesh <class 'str'>
[7, 8, 9] <class 'list'>
45.2 <class 'float'>
(2, 3, 4, 5, 6) <class 'tuple'>

In [6]:
string = 'raakesh'
list_l = [7,8,9]
float_f = 45.2
tuple_t = (2,3,4,5,6)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [8]:
var1 = ''
type(var1)

str

In [10]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [12]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [13]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:
    
(i) /

(ii) %

(iii) //

(iv) **

In [19]:
# (i) This symbol '/' is used for dividing

# For Example:

10 / 2

5.0

In [20]:
# (ii) This symbol '%' is called the Modulo Operator. It returns the remainder of dividing the left hand operand 
# by right hand operand. It's used to get the remainder of a division problem.

# For Example:

10 % 3

1

In [23]:
# (iii) '//' Floor division is a normal division operation, except it returns the largest possible integer. 
# This integer can either be less than the normal division output or equal to it.

# For Example:

10 // 3

3

In [24]:
# '**' Power exponent operator: Given two real number operands, one on each side of the operator, 
# it performs the exponential calculation ( 2**5 translates to 2*2*2*2*2 ).

# For Example:

2**5

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:
l1 = ['raakesh', [7,8,9], 45.2, (2,3,4,5,6), 5, 'sharma', [5,6,3], True, 79.5, (5.8,8.9,2.3)]

In [31]:
for i in l1 :
    print(i, type(i))
print(len(l1))

raakesh <class 'str'>
[7, 8, 9] <class 'list'>
45.2 <class 'float'>
(2, 3, 4, 5, 6) <class 'tuple'>
5 <class 'int'>
sharma <class 'str'>
[5, 6, 3] <class 'list'>
True <class 'bool'>
79.5 <class 'float'>
(5.8, 8.9, 2.3) <class 'tuple'>
10

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [47]:
A = int(input("Enter a number A: "))
B = int(input("Enter a number B: "))
count = 0

while A % B == 0:
    count += 1
    A //= B

if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter a number A:  100
Enter a number B:  5

4 is divisible by 5 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
import random

In [16]:
r_l = []
n = 25

for i in range(n) :
    r_l.append(random.randint(1,300))
print(r_l)

[73, 295, 147, 85, 60, 65, 163, 96, 115, 157, 212, 141, 148, 270, 168, 99, 201, 142, 14, 105, 6, 233, 249, 271, 224]

In [18]:
type(r_l)

list

In [30]:
for i in r_l :
    if i % 3 == 0 :
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

73 is not divisible by 3
295 is not divisible by 3
147 is divisible by 3
85 is not divisible by 3
60 is divisible by 3
65 is not divisible by 3
163 is not divisible by 3
96 is divisible by 3
115 is not divisible by 3
157 is not divisible by 3
212 is not divisible by 3
141 is divisible by 3
148 is not divisible by 3
270 is divisible by 3
168 is divisible by 3
99 is divisible by 3
201 is divisible by 3
142 is not divisible by 3
14 is not divisible by 3
105 is divisible by 3
6 is divisible by 3
233 is not divisible by 3
249 is divisible by 3
271 is not divisible by 3
224 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [34]:
# Mutable and immutable are terms used to describe whether a data type can be modified after it is created. 
# Immutable data types are those whose values cannot be changed once they are created, while mutable data types allow 
# modifications to their values.

In [32]:
# List (list): Lists are mutable in Python, allowing you to modify individual elements or change the entire list. 
# Here's an example:

my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]

my_list[0] = 4  # Modifying the first element
print(my_list)  # Output: [4, 2, 3]

my_list.append(5)  # Adding a new element
print(my_list)  # Output: [4, 2, 3, 5]

[1, 2, 3]
[4, 2, 3]
[4, 2, 3, 5]

In [33]:
# String (str): Strings in Python are immutable. Once a string is created, its characters cannot be modified individually. 
# However, a new string can be created by concatenation or slicing. 
# Here's an example:

message = "Hello"
print(message)  # Output: Hello

message += " World"  # Concatenating a new string
print(message)  # Output: Hello World

Hello
Hello World